<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Boilerplate</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul class="nav navbar-nav">
                <li *ngFor="#item of items"
                    [ngClass]="isActive(item) ? 'active' : 'not-active'"
                >
                    <a [routerLink]="[getRouterLink(item)]">{{item.data.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</header>