.form-login {
  margin: 0 auto;
  max-width: 250px;
  padding: 15px; }
  .form-login .title {
    font-size: 26px;
    text-align: center; }
  .form-login .checkbox {
    font-weight: normal; }
    .form-login .checkbox input {
      float: none;
      position: relative;
      top: 1px; }
  .form-login .form-group {
    margin-bottom: 0; }
  .form-login .form-control {
    text-align: center; }
    .form-login .form-control:focus {
      z-index: 2; }
  .form-login .username {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .form-login .password {
    border-radius: 0; }
  .form-login .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
