body {
  cursor: default;
  font-family: 'PT Sans', sans-serif;
  overflow-y: scroll;
}

.container {
  max-width: 100%;
  min-width: 100%;
}

.main-container {
  margin-bottom: 30px;
  margin-top: 50px;
}

header .navbar-nav {
  float: none;
}